<%= render "shared/header" %>
<div>
  <div><%= @niche.title %>の編集</div>
  <%= form_with model: @niche, url: niche_path(@niche), local: true do |f| %>
    <div>
      タイトル：<%= f.text_field :title %>
    </div>
    <div>
      説明：<%= f.text_area :info ,rows:"7" %>
    </div>
    <div>
      管理者名：<%= f.text_field :admin_name %>
    </div>
    <div>
      進捗状況機能使用：<%= f.collection_select(:progress_setting, HChoice.all, :id, :name, {}) %>
    </div>
    <div>
      独自パラメーター機能使用：<%= f.collection_select(:parameter_setting, HChoice.all, :id, :name, {}) %>
    </div>
    <div>
      タグ機能使用：<%= f.collection_select(:tag_setting, HChoice.all, :id, :name, {}) %>
    </div>
    <div>
      いいね！機能使用：<%= f.collection_select(:nice_setting, HChoice.all, :id, :name, {}) %>
    </div>
    <div>
      公開範囲：<%= f.collection_select(:publish_range, HPermissibleRange.all, :id, :name, {}) %>
    </div>
    <div>
      投稿可能範囲：<%= f.collection_select(:topic_range, HPermissibleRange.all, :id, :name, {}) %>
    </div>
    <div>
      コメント可能範囲：<%= f.collection_select(:comment_range, HPermissibleRange.all, :id, :name, {}) %>
    </div> 
    <div>
      <%= f.submit "編集する" %>
    </div>
  <% end %>
  <div>
    <div>進捗グループ</div>
    <div><input type="text" id="progress_group_input"><button id="add_progress_group">追加する</button></div>
    <ul id="progress_group_list">
      <% @niche_progress_groups.each do |niche_progress_group| %>
        <li data-id="<%= niche_progress_group.id %>">
          <input type="text" value="<%= niche_progress_group.name %>">
          <button class="progress_group_edit">編集</button>
          <button class="progress_group_delete">削除</button>
        </li>
      <% end %>
    </ul>
    <div>進捗タスク</div>
    <div>
      <%= select_tag :niche_progress_group_id, options_from_collection_for_select(@niche_progress_groups, :id, :name) %>
      <input type="text" id="progress_task_input"><button id="add_progress_task">追加する</button>
    </div>
    <ul id="progress_task_list">
      <% @niche_progress_tasks.each do |niche_progress_task| %>
        <li data-id="<%= niche_progress_task.id %>">
          <%= niche_progress_task.group_name %>
          <input type="text" value="<%= niche_progress_task.name %>">
          <button class="progress_task_edit">編集</button>
          <button class="progress_task_delete">削除</button>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <div>パラメーター項目</div>
    <div>項目名：単位</div>
    <div>
      <input type="text" id="parameter_name_input">
      <input type="text" id="parameter_unit_input">
      <button id="add_parameter">追加する</button>
    </div>
    <ul id="parameter_list">
      <% @niche_parameters.each do |niche_parameter| %>
        <li data-id="<%= niche_parameter.id %>">
          <input type="text" value="<%= niche_parameter.name %>">
          <input type="text" value="<%= niche_parameter.unit %>">
          <button class="parameter_edit">編集</button>
          <button class="parameter_delete">削除</button>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<input type="hidden" id="niche_id" value="<%= @niche.id %>">
<%= render "shared/footer" %>