<%= render "shared/header" %>
<div>
  <div class="main">
    <h2>ピックアップカテゴリー</h2>
    <div>
      新着ニッチ
    </div>
    <ul class="new_niche">
      <% if @niches.present? %>
        <% @niches.each do |niche| %>
          <li class="my_niche">
            <%= link_to niche_path(niche), method: :get do %>
            <div>
              <h3>
                <%= niche.title %>
              </h3>
              <div>
                <%= niche.info %>
              </div>
            </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <%= link_to '新規作成', new_niche_path %>
</div>
<%= render "shared/footer" %>