<%= render "shared/header" %>
<div class="content-wrapper">
  <div class="niche-container">
    <h2 class="category-title">ニッチ作成</h2>
    <div class="form-border">
      <%= form_with model: @niche, url: niche_index_path, local: true do |f| %>
      <%# render 'shared/error_messages', model: f.object %>
        <div class="form-group">
          <label>タイトル：</label>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>説明：</label>
          <%= f.text_area :info ,rows:"7", class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>管理者名：</label>
          <%= f.text_field :admin_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <label>進捗状況機能使用：</label>
          <%= f.collection_select(:progress_setting, HChoice.all, :id, :name, {}, {class: 'form-control'}) %>
        </div>
        <div class="form-group">
          <label>独自パラメーター機能使用：</label>
          <%= f.collection_select(:parameter_setting, HChoice.all, :id, :name, {}, {class: 'form-control'}) %>
        </div>
        <div class="form-group">
          <label>タグ機能使用：</label>
          <%= f.collection_select(:tag_setting, HChoice.all, :id, :name, {}, {class: 'form-control'}) %>
        </div>
        <div class="form-group">
          <label>いいね！機能使用：</label>
          <%= f.collection_select(:nice_setting, HChoice.all, :id, :name, {}, {class: 'form-control'}) %>
        </div>
        <div class="form-group">
          <label>公開範囲：</label>
          <%= f.collection_select(:publish_range, HPermissibleRange.all, :id, :name, {}, {class: 'form-control'}) %>
        </div>
        <div class="form-group">
          <label>投稿可能範囲：</label>
          <%= f.collection_select(:topic_range, HPermissibleRange.all, :id, :name, {}, {class: 'form-control'}) %>
        </div>
        <div class="form-group">
          <label>コメント可能範囲：</label>
          <%= f.collection_select(:comment_range, HPermissibleRange.all, :id, :name, {}, {class: 'form-control'}) %>
        </div> 
        <div class="form-group">
          <%= f.submit "作成する", class: 'create-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>