<%= render "shared/header2" %>
<div class="tab">
  <span class="active-tab">新着</span>
  <%= link_to 'ガントチャート', niche_gantts_path(@niche) %>
  <%= link_to 'グラフ', niche_graphs_path(@niche) %>
</div>
<div class="content-wrapper-tab">
  <div class="niche-container">
    <ul class="post-list">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <li class="post-item">
            <%= link_to niche_post_path(@niche, post), method: :get do %>
              <div class="post-image">
                <% if post.images.attached? %>
                  <%= image_tag post.images.first.variant(resize_to_fill: [320, 180]) %>
                <% end %>
              </div>
              <h3 class="post-title">
                <%= post.title %>
              </h3>
              <div class="post-content">
                <%= truncate(post.content, length: 100) %>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="edit-button">
    <%= link_to "#{@niche.title}の詳細設定", edit_niche_path(@niche), class: 'create-btn' %>
  </div>
  <div class="create-btn-container">
    <%= link_to '投稿する', new_niche_post_path(@niche), class: 'create-btn' %>
  </div>
</div>

<%= render "shared/footer" %>