<%= render "shared/header" %>
<div>
  <%= @post_form.niche.title %>投稿ページ
</div>
<div>
  <%= form_with model: @post_form, url: niche_posts_path(@post_form.niche), id: 'post-form', local: true, html: { enctype: "multipart/form-data" } do |f| %>
    <%= render 'error_messages', model: @post_form %>
    <div>
      <div>投稿タイトル</div>
      <%= f.text_field :title %>
    <div>
    <div>
      <div>投稿画像</div>
      <div id="image-display-area"></div>
      <button type="button" id="add-image-button">画像を追加</button>
      <%= f.file_field :images, name: 'images[]', multiple: true, style: "display: none;" %>
<!--
      <div>
        <div>
          クリックしてファイルをアップロード
        </div>
        <div id="previews"></div>
        <div class="click-upload">
-->
          <%#= f.file_field :images, name: 'images[]', data: {index: 0} %>
<!--
        </div>
      </div>
-->
    </div>
    <div>
      <div>投稿文</div>
      <div>
        <%= f.text_area :content ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <div>
      <div>投稿日</div>
      <div>
        <%= f.date_field :posted_at, value: f.object.posted_at || Date.today %>
      </div>
    </div>
    <div>
      <div>進捗率</div>
      <div>
        <label for="niche_progress_group_select">グループ</label>
        <%= f.collection_select(:niche_progress_group_id, @post_form.niche_progress_groups, :id, :name, {}, {id:"niche_progress_group_select"}) %>
        <label for="niche_progress_task_select">タスク</label>
        <%= f.collection_select(:niche_progress_task_id, @post_form.niche_progress_tasks, :id, :name, {}, {id:"niche_progress_task_select"}) %>
        <%= f.text_field :rate %>％
      </div>
    </div>
    <% if @post_form.niche_parameters.present? %>
    <div>
      <div>パラメーター</div>
      <% @post_form.niche_parameters.each do |niche_parameter| %>
        <%= f.fields_for "post_parameters[]", @post_form.post_parameter do |post_parameter_fields| %>
          <%= post_parameter_fields.hidden_field :niche_parameter_id, value: niche_parameter.id %>
          <%= niche_parameter.name %>
          <%= post_parameter_fields.text_field :value %>
          <%= niche_parameter.unit %><br>
        <% end %>
      <% end%>
    </div>
    <% end %>
    <div>
      <div><%= f.submit "作成する" %></div>
    </div>
    <%= f.hidden_field :niche_id, value: @post_form.niche.id, id: 'niche_id' %>
  <% end %>
</div>
<%= render "shared/footer" %>