<%= render "shared/header" %>
<div>
  <%= @niche.title %>投稿ページ
</div>
<div>
  <%= form_with model: @post, url: niche_posts_path(@niche), local: true do |f| %>
    <div>
      <div>投稿画像</div>
      <div>
        <div>
          クリックしてファイルをアップロード
        </div>
        <div>
          <%= f.file_field :image %>
        </div>
      </div>
    </div>
    <div>
      <div>投稿文</div>
      <div>
        <%= f.text_area :content ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <div>
      <div>投稿日</div>
      <div>
        <%= f.date_select :posted_at, include_blank: true %>
      </div>
    </div>
    <div>
      <div>進捗率</div>
      <div>
        <label for="niche_progress_group_select">グループ</label>
        <%= f.collection_select(:niche_progress_group_id, @niche_progress_groups, :id, :name, {}, {id:"niche_progress_group_select"}) %>
      </div>
      <div>
        <label for="niche_progress_task_select">タスク</label>
        <select id="niche_progress_task_select">
        <!-- Options will be populated dynamically based on selection -->
        </select>
        <%= f.hidden_field :niche_progress_task_id, id: "selected_niche_progress_task_id" %>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>