<%= render "shared/header" %>
<div>
  <%= @niche.title %>投稿ページ
</div>
<div>
  <%= form_with url: niche_posts_path(@niche), id: 'new_post', local: true do |f| %>
    <div>
      <div>投稿タイトル</div>
      <%= f.text_field :title %>
    <div>
    <div>
      <div>投稿画像</div>
      <div>
        <div>
          クリックしてファイルをアップロード
        </div>
        <div id="previews"></div>
        <div class="click-upload">
          <%#= f.file_field :images, name: 'post[images][]', data: {index: 0} %>
          <%= f.file_field :images, name: 'images[]', data: {index: 0} %>
        </div>
      </div>
    </div>
    <div>
      <div>投稿文</div>
      <div>
        <%= f.text_area :content ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <div>
      <div>投稿日</div>
      <div>
        <%= f.date_select :posted_at, include_blank: true %>
      </div>
    </div>
    <div>
      <div>進捗率</div>
      <div>
        <label for="niche_progress_group_select">グループ</label>
        <%= f.collection_select(:niche_progress_group_id, @niche_progress_groups, :id, :name, {}, {id:"niche_progress_group_select"}) %>
        <label for="niche_progress_task_select">タスク</label>
        <%= f.collection_select(:niche_progress_task_id, @niche_progress_tasks, :id, :name, {}, {id:"niche_progress_task_select"}) %>
        <%= f.text_field :rate %>％
      </div>
    </div>
    <% if @niche_parameters.present? %>
    <div>
      <div>パラメーター</div>
      <% @niche_parameters.each do |niche_parameter| %>
        <%= f.fields_for "post_parameters[]", @post_parameter do |post_parameter_fields| %>
          <%= post_parameter_fields.hidden_field :niche_parameter_id, value: niche_parameter.id %>
          <%= niche_parameter.name %>
          <%= post_parameter_fields.text_field :value %>
          <%= niche_parameter.unit %><br>
        <% end %>
      <% end%>
    </div>
    <% end %>
    <div>
      <div><%= f.submit "作成する" %></div>
    </div>
  <% end %>
  <input type="hidden" id="niche_id" value="<%= @niche.id %>">
</div>
<%= render "shared/footer" %>