<%= render "shared/header" %>
<h1><%= @post_presenter[:title] %></h1>
<% if @post_presenter[:images].attached? %>
  <% @post_presenter[:images].each do |image| %>
    <div><%= image_tag image, class: 'post-image' %><div>
  <% end %>
<% end %>
<p><%= @post_presenter[:content] %></p>
<p>Posted by: <%= @post_presenter[:name] %></p>
<p>Posted at: <%= @post_presenter[:posted_at] %></p>
<p>Progress Group: <%= @post_presenter[:niche_progress_group_name] %></p>
<p>Progress Task: <%= @post_presenter[:progress_task_name] %></p>
<p>Rate: <%= @post_presenter[:rate] %>％</p>
<h2>Parameters</h2>
<ul>
  <% @post_presenter[:parameters].each do |parameter| %>
    <li>
      <%= parameter[:name] %>: <%= parameter[:value] %><%= parameter[:unit] %>
    </li>
  <% end %>
</ul>
<%= link_to '編集', edit_niche_post_path(niche_id: @post_presenter[:niche_id], id: @post_presenter[:id]) %>
<!-- 他の属性も同様に表示することができます。 -->
<%= render "shared/footer" %>