<%= render "shared/header2" %>
<div class="content-wrapper">
  <div class="post-container">
    <h1 class="post-title"><%= @post_presenter[:title] %></h1>
    
    <% if @post_presenter[:images].attached? %>
      <div class="post-images">
        <% @post_presenter[:images].each do |image| %>
          <div class="post-image-container">
            <%= image_tag image, class: 'post-image' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <p class="post-details">投稿者：<%= @post_presenter[:name] %></p>
    <p class="post-details">投稿日時：<%= @post_presenter[:posted_at] %></p>
    <div class="post-parameters">
      <% if @post_presenter[:rate].present? %>
        <p>進捗</p>
        <ul>
          <li class="parameter-item">
            [ グループ：<%= @post_presenter[:niche_progress_group_name] %> ]
            [ タスク：<%= @post_presenter[:progress_task_name] %> ]
            進捗率：<%= @post_presenter[:rate] %>％
          </li>
        </ul>
      <% end %>
      <% if @post_presenter[:parameters].present? %>
        <p>パラメーター</p>
        <ul>
          <% @post_presenter[:parameters].each do |parameter| %>
            <li class="parameter-item">
              <%= parameter[:name] %>: <%= parameter[:value] %><%= parameter[:unit] %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="post-content-box">
      <p><%= @post_presenter[:content] %></p>
    </div>

    <div class="post-actions">
      <%= link_to '編集', edit_niche_post_path(niche_id: @niche.id, id: @post_presenter[:id]), class: 'btn btn-edit' %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>